name: Test and deploy to PYPI

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Lint and format code with pre-commit
      uses: pre-commit/action@v3.0.1

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install -r requirements-test.txt
    - name: Test with pytest
      run: |
        pytest

  publish:
    runs-on: ubuntu-latest
    needs: [check]
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install deploy dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload --repository testpypi dist/* --verbose

  check-released:
    runs-on: ubuntu-latest
    needs: [publish]
    timeout-minutes: 10
    steps:
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install and import the uploaded package
      run: |
        python -m pip install --upgrade pip
        # Conflicts: version number is higher on testpypi:(
        python -m pip install py-bip39-bindings
        set +e
        while true; do
          log=$(
            2>&1 python -m pip install \
              --index-url https://test.pypi.org/simple/ \
              --extra-index-url https://pypi.org/simple/ \
              "test-substrate-interface==${GITHUB_REF#refs/tags/v}"
          )
          status=$?
          if [ "$status" = 0 ]; then
            echo "Installed successfully."
            break
          elif grep -q 'Could not find a version' <<<"$log"; then
            echo "Waiting for release to propagate to the index..."
            sleep 5
          else
            echo '::error::Unexpected output from "pip install", release seems to have failed.'
            cat <<<"$log"
            exit 1
          fi
        done

        if ! python -c 'import substrateinterface'; then
          echo '::error::Unable to import the installed package!'
          exit 2
        fi
